$gt-sm-min-width: 960px !default;

// General variables
$nav-bar-width: 300px !default;
$header-height: 80px !default;
$footer-height: 50px !default;
$default-color: #02627a !default;
$video-text-color: #3baac6 !default;
$white: #FFFFFF !default;

//navbar
$inactive-category-color: #49cdff !default;
$hover-category-color: #6e9baa !default;
$active-category-color: #FFFFFF !default;

