$gt-sm-min-width: 960px !default;

// General variables
$nav-bar-width: 300px !default;
$default-color: #635492 !default;
$white: #FFFFFF !default;

//navbar
$inactive-category-color: #aba4c1 !default;
$hover-category-color: rgba(111,96,161,1) !default;
$active-category-color: #FFFFFF !default;


