@import "../../../common-styles";

.nav-component {
  height: 100%;
  display: inline-block;
  position: fixed;
  vertical-align: top;
  width: $nav-bar-width;

  background: rgba(3,135,168,1);
  background: -moz-linear-gradient(top, rgba(3,135,168,1) 0%, rgba(2,98,122,1) 30%, rgba(2,98,122,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(3,135,168,1)), color-stop(30%, rgba(2,98,122,1)), color-stop(100%, rgba(2,98,122,1)));
  background: -webkit-linear-gradient(top, rgba(3,135,168,1) 0%, rgba(2,98,122,1) 30%, rgba(2,98,122,1) 100%);
  background: -o-linear-gradient(top, rgba(3,135,168,1) 0%, rgba(2,98,122,1) 30%, rgba(2,98,122,1) 100%);
  background: -ms-linear-gradient(top, rgba(3,135,168,1) 0%, rgba(2,98,122,1) 30%, rgba(2,98,122,1) 100%);
  background: linear-gradient(to bottom, rgba(3,135,168,1) 0%, rgba(2,98,122,1) 30%, rgba(2,98,122,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0387a8', endColorstr='#02627a', GradientType=0 );


  @media (max-width: $gt-sm-min-width) {
    display: none;
    width: 0;
  }

  ul {
    padding-left: 5px;
  }

  .category-item {
    color: $inactive-category-color;
    cursor: pointer;
    display: block;
    font-size: 20px;
    font-weight: normal;
    outline: none;
    padding: 0 10px;

    &::before {
      background-color: $inactive-category-color;
      content: '';
      display: inline-block;
      height: 35px;
      margin: 0 10px;
      vertical-align: middle;
      width: 5px;

    }

    &:hover{
      background-color: $hover-category-color;
      border-radius: 5px;
      cursor: pointer;
    }
  }

  .active {
    color: $active-category-color !important;

    &::before {
      background-color: $active-category-color !important;
    }
  }

  .close-nav {
    color: $active-category-color;
    display: none;
    float: right;
    font-size: 25px;
    outline: none;
    padding: 10px;

    @media (max-width: $gt-sm-min-width){
      display: inline-block;
    }

    a {
      color: $active-category-color;
      cursor: pointer;
      text-decoration: none;
    }
  }

  .app-name {
    .logo-wp {
      display: block;
      margin-bottom: 10px;
      text-align: center;
      width: 100%;

    }
  }

  .logout-wp {
    margin: 30px 25px;
    text-align: center;

    .logout-btn {
      background-color: $white;
      border: 1px solid $default-color;
      color: $default-color;
      font-weight: bold;
      outline: none;
      width: 150px;

      &:hover {
        cursor: pointer;
        border: 1px solid $white;
        color: $white;
        background-color: $default-color;
      }
    }
  }

}

.open-nav {
  display: block;
  width: $nav-bar-width;
  z-index: 2;
}
