<div class="nav-component" [ngClass]="{'open-nav': navBarState}">
  <div class="close-nav" (click)="closeNav()"><a>&times;</a></div>
  <div class="app-name">
    <a class="logo-wp" uiSref="app.dashboard" [uiParams]="{ category: 'animation', page: 1 }">
      <img src="assets/images/vimeotest-logo.png" alt="Vimeo test app" width="230" height="60">
    </a>
  </div>
  <ul>
    <li *ngFor="let category of categoryList" (click)="selectCategory(category)"
    uiSref="app.dashboard" [uiParams]="{ category: category.id, page: 1}" uiSrefActive="active" class="category-item">
      {{category.id}}
    </li>
  </ul>
</div>
