<div>
  <div class="video-detail-container">
    <div class="video-view-wrapper">
      <div class="video-container">
        <div class="video">
          <iframe [src]="videoUrl" frameborder="0" webkitallowfullscreen mozallowfullscreen
                  allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="video-data">
      <label>{{video.plays}}</label>
      <label>{{video.metadata.connections.likes.total}}</label>
      <label>{{video.metadata.connections.pictures.total}}</label>
      <label class="video-comments">{{video.metadata.connections.comments.total}}</label>
    </div>
    <div class="video-text">
      <div class="title">
        <div class="image">
          <img *ngIf="!video.user.pictures.sizes[1].link" src="assets/images/vimeo-logo.png"
               alt="User logo" width="75" height="75">
          <img *ngIf="video.user.pictures.sizes[1].link"
               src="{{video.user.pictures.sizes[1].link}}" alt="User logo">
        </div>
        <div class="video-name">
          <p class="video-title"><b>{{video.name}}</b></p>
          <p>of <B>{{video.user.name}}</B> since {{video.createdOn | amTimeAgo}}<span></span></p>
        </div>
      </div>

      <div class="video-description">
        <div>{{video.description}}</div>
      </div>

      <div class="comments-wp">
        <div class="comment" *ngFor="let comment of videoComments">
          <div class="user-img-wp">
            <img *ngIf="!comment.user.pictures" src="assets/images/vimeo-logo.png" alt="User" class="user-img">
            <img *ngIf="comment.user.pictures" src={{comment.user.pictures.sizes[1].link}} alt="User" class="user-img">
          </div>
          <div class="user-comment-wp">
            <p>By: <b>{{comment.user.name}}</b> {{comment.createdOn | amTimeAgo}}:</p>
            <p>{{comment.text}}</p>
          </div>
        </div>

        <div class="paginator">
          <div class="pagination-container">
            <ngb-pagination
              [collectionSize]="totalComments"
              [maxSize]="5"
              [rotate]="true"
              [(page)]="currentPage"
              (pageChange)="changePage($event)"
              size="sm"
              class="pagination-sm">
            </ngb-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

